@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    /* Frame vector created by rawpixel.com - www.freepik.com */
    background: url('https://image.freepik.com/free-vector/palm-leaves-mockup-illustration_53876-75791.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*  Navbar  */
.navbar-custom {
    background-color: #0d3133;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 9999;
    font-size: 18px;
}

.navbar-brand {
    color: #efe9ce;
}

.navbar-brand:hover {
    color: #efe9ce;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");position: relative;
}

.navbar-toggler {
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-toggler:focus, .navbar-toggler-icon {
    outline: none;
}

.navbar-toggler:focus, .navbar-collapse.show {
    background-color: #235347;
}

.navbar-toggler.collapsed {
    background-color: #0d3133;
}

.navbar-toggler.collapsed:hover {
    background-color: #235347;
}

.navbar-collapse.collapsing, .navbar-collapse.show {
    border-top-color: gray;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 8px;
}

.navbar-collapse.show {
    background-color: #0d3133;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1.5rem;
    color: #efe9ce;
    background-color: #0d3133;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .active>.nav-link, .navbar-expand-lg .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link.show, .navbar-expand-lg .navbar-nav .show>.nav-link {
    color: #fff;
}

/*  TABLE  */
#addBtnTable {
    background-color: #ffe7d5 !important;
    color: #222 !important;
    border-color: #222 !important;
    font-size: 16px;
    border-radius: 0.4rem;
}

#addBtnTable:hover {
    background-color: #fdd4b6 !important;
}

.btn-dlt {
    background-color: #BC5449;
    border-color: #222;
    border-radius: 0.4rem;
}

.btn-dlt:hover {
    background-color: #c03324;
    border-color: #222;
}

.btn-edt {
    color: #222;
    background-color: #8EB69B;
    border-color: #222;
    border-radius: 0.4rem;
}

.btn-edt:hover {
    color: #222;
    background-color: #99cca8;
    border-color: #222;
}

.btn-success.focus, .btn-success:focus {
    color: #222;
    background-color: #8EB69B;
    border-color: #222;
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #222;
    background-color: #99cca8;
    border-color: #222;
}

tr {
    background-color: #fffbf9;
}

tr:hover {
    background-color: #fcf2ed;
}

th {
    background-color: #ffefe3;
}

th:hover {
    background-color: #fde6d5;
}

/*  MODAL  */
.modal-body {
    background-color: #0d3133;
    padding: 0%;
}

#progr {
    background-color: #0d3133;
    color: #efe9ce;
    border-color: #efe9ce;
}

#percent:focus {
    border-color: #efe9ce;
}

/*  FOOTER  */
footer {
    width: 100%;
    background-color: #0d3133;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

a.footer-link {
    color: #efe9ce;
    font-size: 15px;
}

a.footer-link:hover {
    color: #fff;
}

a.footer-link.active {
    color: #fff;
}

/*  ADD SECTION  */
form {
    color: #efe9ce;
    padding: 20px;
    background-color: #0d3133;
    font-size: 16px;
}

#addBtnEdit,#addBtnAdd {
    background-color: #fddcc4 !important;
    color: black;
    border-color: black !important;
    border: 1.25px solid;
    font-size: 16px;
    border-radius: 0.4rem;
}

#addBtnEdit:hover, #addBtnAdd:hover {
    background-color: #fdceab !important;
}

/*  Impressum  */
a {
    color: #222;
}

a:hover {
    color: black;
}

.padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding hr {
    border-top: 1.5px solid #b4b4b4;
    width: 30%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
