@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    /* Frame vector created by rawpixel.com - www.freepik.com */
    background: url('https://image.freepik.com/free-vector/palm-leaves-mockup-illustration_53876-75791.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*  Navbar  */
.navbar-custom {
    background-color: #0d3133;
    height: 60px;
    padding-left: 20px;
    padding-right: 10px;
    z-index: 9999;
}

.navbar-brand {
    color: #efe9ce;
}

.navbar-brand:hover {
    color: #efe9ce;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");position: relative;
}

.navbar-nav{
    float: right;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #efe9ce;
    background-color: #0d3133;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .active>.nav-link, .navbar-expand-lg .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link.show, .navbar-expand-lg .navbar-nav .show>.nav-link {
    color: #fff;
}

/*  TODOs  */
.padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding hr {
    border-top: 1.5px solid #b4b4b4;
    width: 30%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

/*  Footer  */
footer {
    width: 100%;
    background-color: #0d3133;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    position: absolute;
    bottom: 0px
}

a.footer-link {
    color: #efe9ce;
    font-size: 13px;
}

a.footer-link:hover{
    color: #fff;
}

/*  ADD SECTION  */
form {
    color: #efe9ce;
    border: 1px solid #efe9ce;
    padding: 20px;
    margin: 40px auto;
    background-color: #0d3133;
}

#addBtn {
    background-color: #efe9ce !important;
    color: #222 !important;
    border-color: #092729 !important;
}

#addBtn:hover {
    background-color: #A3958D !important;
    color: #fff !important;
    border-color: #092729 !important;
}

/*  Impressum  */
a {
    color: #222;
}

a:hover {
    color: black;
}

a.footer-link.active {
    color: #fff;
}
